.filtros-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filtros-container h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #26262e;
  padding-top: 20px;
}

.filters-box {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tagstyle {
  width: auto;
  height: auto;
  border-radius: 0px 12px 0px 12px;
  border: 1.5px black solid;
  padding: 3px;
  margin: 5px;
  color: #26262e;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
}

.button-container {
  width: 320px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px, 16px, 0px, 16px;
  padding: 12px, 16px, 12px, 16px;
  margin-top: 40px;
}

.btn-create-playlist {
  width: 320px;
  background-color: #ff8e0a;
  color: #fdfeff;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
  color: #fdfeff;
  padding: 0px 16px 0px 16px;
  border-radius: 0px 16px 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tagstyle:hover {
  background-color: black;
  color: white;
  border: 1.5px black solid;
}

.tagstyle-active {
  background-color: black;
  color: white;
}

.btn-create-playlist:hover {
  background-color: orange;
  color: white;
  border: none;
}

.bloque-a-MC-container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
  color: #26262e;
}

.bloque-a-MC-container h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}

.bloque-b-MC-container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  color: #26262e;
}

.bloque-b-MC-container h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}

.bloque-c-MC-container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: #26262e;
}

.bloque-c-MC-container h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}
