.Nav_Bar-cont {
  width: 100%;
  height: 96px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  left: 0;
  background: linear-gradient(
      180deg,
      rgba(253, 254, 255, 0) 25%,
      rgba(255, 142, 10, 0.133647) 84.37%,
      rgba(255, 142, 10, 0.225) 100%
    ),
    #fdfeff;
}

.Nav_Bar-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 46px;
  gap: 4px;
  cursor: pointer;
}

.Nav_Bar-element-img {
  width: 24px;
  height: 24px;
}

.Nav_Bar-element-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  color: #26262e;
}
