.Song_box_cont {
  width: 152px;
  height: 204px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Song_box_img_cont,
.Song_box_img_cont img {
  width: 152px;
  height: 152px;
}

.Song_box_text_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.Song_box_text_title,
.Song_box_text_artist {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #26262e;
  padding: 0;
  margin: 0;
}
.Song_box_text_artist {
  opacity: 50%;
  font-weight: 400;
}
