* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0px;
  width: 0px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

.search_cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 112px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  overflow: hidden;
}

.search_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed; /*ERA STICKY*/
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 141, 10, 0.134) 75%,
    rgba(255, 141, 10, 0.251) 100%
  );
  padding-top: 48px;
  gap: 16px;
  z-index: 1;
  align-items: center;
}

.search_header_title {
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 138.462% */
  letter-spacing: 0.5px;
  width: 85%;
  display: none; /*BORRAR*/
}

.search_header_form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search_header_input {
  width: 85%;
  height: 48px;
  display: flex;
  min-width: 320px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px 0 50px;
  border: 2px solid #bfc0c1;
}

.search_header_input:focus-visible,
.search_header_input:focus,
.search_header_input:active {
  border: 2px solid #ff8e0a;
  outline: 0;
}

.search_header_input_icon {
  position: absolute;
  left: 40px;
  top: 10px;
}

.search_top20_cont {
  flex: 1;
  display: none; /*CAMBIAR A FLEX*/
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}

.search_top20 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-height: calc(100% - 48px);
}

.search_top20_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 22px 0px;
  z-index: 1;
}

.search_top20_title hr {
  width: 230px;
  border-top: 2px solid #e4e6e8;
}

.search_top20_title p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
}
