* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0px;
  width: 0px;
  display: none;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #dfe9eb;
  width: 0px;
  display: none;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
  width: 0px;
  display: none;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
  width: 0px;
  display: none;
}

.search_cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 112px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  overflow: hidden;
}

.search_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 141, 10, 0.134) 75%,
    rgba(255, 141, 10, 0.251) 100%
  );
  padding-top: 48px;
  gap: 16px;
  z-index: 1;
  align-items: center;
}

.search_header_title {
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
  width: 85%;
}

.search_header_form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search_header_input {
  width: 85%;
  height: 48px;
  display: flex;
  min-width: 320px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px 0 50px;
  outline: transparent;
  transition-duration: 0.2s;
}

.search_header_input_icon {
  position: absolute;
  left: 40px;
  top: 10px;
}

.search_top20_cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}

.search_top20 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-height: calc(100% - 48px);
}

.search_top20_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 22px 0px;
  z-index: 1;
}

.search_top20_title hr {
  width: 230px;
  border-top: 2px solid #e4e6e8;
}

.search_top20_title p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
}

/*Search-Result */

/*NUEVO*/

.search_header_filters {
  display: none; /*FLEX*/
  flex-direction: row;
  overflow-x: scroll;
  width: calc(100% - 24px);
  gap: 8px;
  padding-left: 24px;
  justify-content: left;
}

.search_active {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  max-height: calc(100% - 48px);
}

.search_last_search_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 12px 0px;
  z-index: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 85%;
}

.search_last_search_title hr {
  width: 123px;
  border-top: 2px solid #e4e6e8;
}

.search_last_search_title2 {
  width: 85%;
  display: flex;
  justify-content: left;
}

.search_last_search_title2 p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: var(--medios-tonos-gris-3, #838486);
  text-align: left;
}

.last_search_cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  align-items: center;
  gap: 8px;
  max-height: calc(100% - 48px);
}
