/* ---------Nav-bar-------- */
.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(253, 254, 255, 0) 25%,
    rgba(255, 141, 10, 0.134) 75%,
    rgba(255, 141, 10, 0.251) 100%
  );
}
.navbar_container p {
  font-weight: 500;
}
.navbar_container img {
  margin-left: 20px;
}
.relleno {
  margin-right: 40px;
}
/* ---------Inputs-------- */
.form_container_login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labels_input {
  justify-content: left;
  width: 100%;
  gap: 12px;
}
.labels_input label {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.labels_input p {
  margin-bottom: 12px;
  font-size: 21px;
  font-weight: 500;
}
.labels_input input {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-color: rgba(128, 128, 128, 0.275);
  border-style: solid;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding: 9px;
  padding-right: 0px;
  font-size: medium;
  outline: 0px;
}
.labels_input.password {
  margin-top: 20px;
}
.labels_input input:hover {
  border-color: orange;
}

/* ---------Footer-------- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.footer p {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #26262e;
}

.labels_input.passwordd img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 45px;
}
.input_img {
  display: flex;
  align-items: center;
}

.input_img.error input {
  border-color: red;
}
.labels_input.error input {
  border-color: red;
}

.errorlogin {
  color: red;
  margin-top: 5px;
}

.InputError {
  border-color: red !important;
}
