@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
  font-family: "Rubik", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.app-main-cont {
  background-image: url("https://cdn.discordapp.com/attachments/1004477978081767474/1129122414383616231/Gif_Auden.gif");
  background-size: 100%;
}

.app-main-cont-bg-filter {
  background-color: #fdfeff82;
}

a {
  text-decoration: none;
}

.a {
  opacity: 50%;
}

.a.active {
  opacity: 100%;
}

.start-logo-sect {
  width: 100%;
  height: 60vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(255, 141, 10, 0.199), rgba(255, 141, 10, 0) 50%);
}

.start-logo-cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-logo-img {
  width: 207.64px;
  height: 72px;
}

.start-logo-h1 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30.81px;
}

.start-btns-sect {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 32px;
  background-image: linear-gradient(to top, #fdfeff, transparent);
}

.start-btns-cont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.start-login {
  height: 48px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-login-text:hover {
  text-shadow: 0px 4px 11px #00000064;
}

.start-login-text {
  text-decoration: none;
  color: #26262e;
  font-weight: 500;
}

@media (min-width: 1400px) {
  .app-main-cont {
    background-blend-mode: hue;
    background-image: url("https://www.pexels.com/es-es/video/cama-bailando-musica-ventanas-6875756/");
  }
}
